
#leftMenu {
  width: 30%;
  height:750px;
  background: lightblue;
  font-family: sans-serif;
  font-size: 15px;

  /* Just so it's visible */
}
#rightContent {

  width: 70%;
  height:750px;
  font-family: sans-serif;
  font-size: 15px;
  /* Grow to rest of container */
  background: #23719F;
 padding: 20px 60px;

  /* Just so it's visible */
}
