


/*#parent {
  width: 300px;
    height: 300px;
     background: #3498db;
}

#MenuRecent{
    width: 200px;
    height: 200px;
    background: red;
}*/

#ChatMian{
  height: 565px;
  width: 500px;
  overflow-y: scroll;
  position: relative;
  background: blueviolet;
}

input[type="chatInput"]{
  font-family: sans-serif;
   width: 470px;
   height: 40px;
   display: block;
   font-size: 15px;
   font-weight: 300;
}


#ChatInput{
  padding: 10px;
  width: 480px;
}


h3 span { 
    font-size:16px; 
    font-weight: normal;
}

#InfiniteScroll {
  height: 300px;
  width: 290px;
  overflow-y: scroll;
  position: relative;
}

