
#leftMenu {
  width: 33%;
  height:750px;
  background: #2e6da4;
  /* Just so it's visible */
}
#rightContent {

  width: 67%;
  height:750px;
  /* Grow to rest of container */
  background: lightblue;
  /* Just so it's visible */
}
