


/*
.PNameInput {
  padding: 10px;
  margin: 10px
}*/


input[type="PNameInput"]{
  font-family: sans-serif;
   width: 470px;
   height: 40px;
   display: block;
   font-size: 15px;
   font-weight: 300;
}
