







.HistoryScroll {
  width: 700px;
  height: 615px;
  overflow-y: scroll;
  position: relative;
}

/*h4 span {
    font-size:16px;
    float:right;
}*/

#hisDateSpan{
    font-size:15px;
    font-family: sans-serif;
    float:right;
    margin-left:1.25em;
    display:inline-block;
}
