

#funcsRow {
  margin-top: 10px;
  margin-bottom: 20px;
}
#funcsGrid{
    margin-bottom: 30px;
}


.selected-state{
    width: 15px
}
.menuBtn{
    background:  #3498db;
    width: 150px;
    height: 40px;
    color:  #ffffff;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 1;
-moz-border-radius: 1;
}
