.createIssue{
    margin-top: 10%;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
    text-align: center;
}
.title h1{
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  font-weight: bold;
}
.title h3{
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}
.title p{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
input[type="text"]{
  font-family: sans-serif;
   width: 300px;
   height: 40px;
   display: block;
   font-size: 15px;
   font-weight: 300;
}
#submitBtn{
  background: #3498db;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  font-size: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

}

/*Report Table*/
#mytable{
    font-weight: 500;
    margin: 50px 20px;
}
.grey1 {
    border: 1px solid;
    margin: 20px 50px;
    width: 200px;
    height: 50px;
    font-size: 15px;
    text-align: center;
}
