/*flexbox*/
.AlignerSeting {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.setingPanel{
    max-width: 50%;
    border: 1px solid #d9dbdd;
    width: 100%;
    padding: 20px;
}

.adminSetingPanel{
    width: 100%;
}

#setingBtn{
    margin-right: 15px;
}


