.AlignerLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

#switchBtn{
  margin: 20px 0 20px 0;

  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  background: #3498db;
  width: 200px;
  height: 50px;
  text-decoration: none;
}
#switchBtn:active{
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#switchBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#submitBtn{
    background: #3498db;
     background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
     background-image: -moz-linear-gradient(top, #3498db, #2980b9);
     background-image: -ms-linear-gradient(top, #3498db, #2980b9);
     background-image: -o-linear-gradient(top, #3498db, #2980b9);
     background-image: linear-gradient(to bottom, #3498db, #2980b9);
     -webkit-border-radius: 5;
     -moz-border-radius: 5;
     border-radius: 5px;
     font-family: sans-serif;
     color: #ffffff;
     font-size: 18px;
     width: 80px;
     height: 40px;
     text-align: center;

     text-decoration: none;
}
#submitBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
