.AlignerLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

#switchBtn{
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;    
  background-color: transparent;
  border: 2px solid #3498db;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background: #3498db;
  font-weight: 900;
    color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

#switchBtn:hover {
  color: #fff;
  background: #70b6e5;
  border-color: #70b6e5;
}

#submitBtn{
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;    
  background-color: transparent;
  border: 2px solid #3498db;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background: #3498db;
  font-weight: 900;
    color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

#submitBtn:hover {
  color: #fff;
  background: #70b6e5;
  border-color: #70b6e5;
}

.AlignerLogin > .setingPanel {
  border: none !important;
}
