.foo {
    position: absolute;
    right: 0px;
    margin-top: 10px;
    margin-right: 50px;
}

#parent {
  display: flex;
}
#table1 {
  width: 33%;
  margin-top: 50px;
  background: lightblue;
  /* Just so it's visible */
}
#table2 {
  width: 33%;
  margin-top: 50px;
  /* Grow to rest of container */
  background: lightgreen;
  /* Just so it's visible */
}
#table3 {
  width: 33%;
  margin-top: 50px;
  /* Grow to rest of container */
  background: lightcyan;
  /* Just so it's visible */
}

.warning2 {
  background-color: white;
  text-align: center;
  position: absolute;
  margin-top: 200px;
  margin-left: 500px;
  border-radius: 20px;
  padding: 10px;
  font-size: 14pt;
  color: black;
  opacity: 0.95;
}

.Modal {
    position: absolute;
    top: 100px;
    left: 400px;
    right: 400px;
    bottom: 100px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  